@model PAP_Condominio.Models.Condominio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Condominio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>





    <p class="text-center lead">
        Please remove this line =).
        <br>It will be better visualized in Bootstrap 3.2.0 Lumem Theme, to use lumem theme<br>
        please <a href="http://bootswatch.com/lumen/">visit the lumem theme page</a>. You can also, use bootstrap themes menu, just up here ^^.
        <br>To have access to a large icons list, please use  <a href="http://fortawesome.github.io/">FontAwesome</a> instead of bootstrap default option (Glyphicons).
    </p>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-users" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD Usuários</span>
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-user" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-times-circle-o"></i> DEL Usuários</span>
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-edit"></i> EDIT Usuários</span>
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-warning" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-pied-piper-alt" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-list-ul"></i> LIST Usuários</span>
            </a>
        </div>
    </div>



}







<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
