@model PAP_Condominio.Models.MuralDigital

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MuralDigital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Morador.NomeSobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Morador.NomeSobrenome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MuralDigitalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
