@model IEnumerable<PAP_Condominio.Models.MuralDigital>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Morador.NomeSobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Morador.NomeSobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensagem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MuralDigitalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MuralDigitalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MuralDigitalId })
        </td>
    </tr>
}

</table>
